[Unit]
Description=FYP Site

[Service]
ExecStart=/home/pi/Public/SmartGreenhouse_FYP/Code/Pi/app.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/Public/SmartGreenhouse_FYP/Code/Pi

[Install]
WantedBy=multi-user.target

