*{
  font-size: 1em;
}

body {
  /*padding: 40px;*/
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size:cover;
}

h1{
  font-size: 2em;
}

h2{
  /*font-size: 1.2em;*/
}

a {
  color: #007bff;
}

[role="main"], main {
  padding-top: 4em; /* Space for fixed navbar */
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 14px 10px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    0px 0px 14px 10px rgba(50, 50, 50, 0.36);
  box-shadow:         0px 0px 14px 10px rgba(50, 50, 50, 0.36);
  /*Site is full width by default until media selector below*/
}

@media (min-width: 1280px) {
  [role="main"], main {
    max-width: 1280px;
    margin-left:auto;
    margin-right:auto;
  }

  .jumbotron{
    max-width: 1280px;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width: 1921px) {
  [role="main"], main {
    max-width: 1921px;
  }

  .jumbotron{
    max-width: 1921px;
  }
}

header{
  color: #162446;
}

header .fixed-top{
  z-index: 4;
  box-shadow: 0 0.25rem 1rem 0px rgba(0, 0, 0, 0.26)
}

#navbarHeader{
  padding-top: 3em;
  box-shadow: 0 0.25rem 1rem 0px rgba(0, 0, 0, 0.26)
}

.separator{
  display:flex;
  height: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#contextContainer{
}

#profileCustomMenu{
  display: none; /* this is until customized profile is chosen */

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  max-width: 90%;
  margin-right: 0;
}

.profileInfo{
  font-size: 2em;
  padding-left: 1em;
  display: inline-block;
  cursor: help;
}

#applyProfile{
  width: 100%;
}

.statsContainer{
  width: 100%;
}

#live{
  margin-top: 20px;
  display: none;
}

#menu{
  background-color: #162446;
  color: #fcfcfc;
  font-size: 2em;
  text-align: center;
  display:flex;
  min-width: 100%;
  margin: .6em 0 .6em 0;
  padding: 0;
}

#revealMenu{
  width: 100%;
  margin-left: 0;
  margin-top: 1em;
  font-size: 2em; !important;
}

#revealContext{
  width: 100%;
  font-size: 1em;
}

#revealSettings {
  width: 100%;
  font-size: 1em;
  margin-top: 5px;
}

#contextWindow{
  display: none;
  background-color: #fcfcfc;
  outline: #162446 5px solid;
  position: absolute;
  padding: 2em;
  z-index: 5;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  height: 20em;
  width: 40em;
}

#settingsWindow{
  display: none;
  background-color: #fcfcfc;
  outline: #162446 5px solid;
  position: absolute;
  padding: 4em;
  z-index: 5;
  top: 60%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  /*min-height: 40em;*/
  width: 60%;
  overflow-y: scroll;
}

#settingsWindow form{
  margin-top: 2em;
  margin-bottom: 3em;
}

#settingsSuccess{
  width: 100%;
  margin-top: 1em;
  min-height: 4em;
}

.blur{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#glanceMenu{
  width: 100%;
}

#notificationsContainer{
  width:100%;
}

#chartOptionsContainer{
  padding-top: 1em;

}

.divAsBtn{}

#charts{
  /*padding-top: 3em;*/
  background-color: #fcfcfc;
}

#dateRangeSelector{
  display: block;
}

#dateRangeBtn{}

#rawDataTable{
  /*min-height: 200em;*/
  /*width: 100%;*/
}

.tabulator-header{
  height: 2em;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  /*background-color: #fcfcfc;*/
  background-image: url("../images/jumboback.png");
  background-size: cover ;
  color: #000000;
  font-size: 2em;
  border-radius: 5px;
    box-shadow: 0px 0px 14px 10px rgba(50, 50, 50, 0.36);
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }

}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255,255,255,0.8);
  padding: 2em;
  border-radius: 10px;
}

#liveFeed{
  display: none;
}

#liveFeedObj{
  width: 100%;
  height: 550px;
}

.fullJustify{
  text-align: justify;
}

footer {
  padding: 2rem 0 2rem 0;
  margin-top: 1em;
}

footer p {
  margin-bottom: .25rem;
}

footer a{
  color: whitesmoke;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }