*{
  font-size: 1em;
}

body {
  /*padding: 40px;*/
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;

}

h1{
  font-size: 2em;
}

h2{
  /*font-size: 1.2em;*/
}

a {
  color: #e06436;
}

[role="main"], main {
  padding-top: 4em; /* Space for fixed navbar */
}

header{
  color: #162446;
}

#navbarHeader{
  padding-top: 3em;
}

#contextContainer{
  /*background-color: antiquewhite;*/
  /*outline: crimson thin dashed;*/
  /*min-height: 10em;*/
  /*padding: 2em;*/
}

#profileCustomMenu{
  display: none; /* this is until customized profile is chosen */

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

#profileInfo{
  font-size: 2em;
  padding-left: 1em;
  display: inline-block;
  cursor: help;
}

#applyProfile{
  width: 100%;
}

.statsContainer{
  width: 100%;
}

#live{
  margin-top: 20px;
  display: none;
}

#menu{
  height: 4em;
  background-color: #162446;
  color: #fcfcfc;
  font-size: 2em;
  text-align: center;
  display:flex;
}

#revealContext{
  padding: 1.2em 0 1em 0;
  height: 100%;
  width: 100%;
}

#revealContext:hover{
  background-color: #fcfcfc;
  outline: #41858e 2px;
  color: #41858e;
  -webkit-box-shadow: inset 0px 0px 30px -3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    inset 0px 0px 30px -3px rgba(50, 50, 50, 0.75);
  box-shadow:         inset 0px 0px 30px -3px rgba(50, 50, 50, 0.75);
  cursor: pointer;
}

#revealSettings{
  padding: 1.2em 0 1em 0;
  height: 100%;
  width: 100%;
}

#revealSettings:hover{
  background-color: #fcfcfc;
  outline: #41858e 2px;
  color: #41858e;
  -webkit-box-shadow: inset 0px 0px 30px -3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    inset 0px 0px 30px -3px rgba(50, 50, 50, 0.75);
  box-shadow:         inset 0px 0px 30px -3px rgba(50, 50, 50, 0.75);
  cursor: pointer;
}

#contextWindow{
  display: none;
  background-color: #fcfcfc;
  outline: #162446 5px solid;
  position: absolute;
  padding: 2em;
  z-index: 5;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  height: 20em;
  width: 40em;
}

#settingsWindow{
  display: none;
  background-color: #fcfcfc;
  outline: #162446 5px solid;
  position: absolute;
  padding: 2em;
  z-index: 5;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  height: 40em;
  width: 30em;
}

.blur{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#displayTypeContainer{
  margin: 1em 0 1em 0;
  font-size: 2em;

}

.divAsBtn{
  color: #e06436 !important;
  display: inline !important;
}

.divAsBtn:hover{
  cursor: pointer !important;
  color: #41858e !important;
}

#gridDisplayBtn{
  color: #41858e;
  cursor: default;
  display: inline;
}

#listDisplayBtn{
  color: #41858e;
  cursor: default;
  display: inline;
}

#charts{
  padding-top: 3em;
  background-color: #fcfcfc;
}

#dateRangeSelector{
  display: block;
}

#dateRangeBtn{
  /*height: 2em;*/
  /*width: 4em;*/
}

#rawDataTable{
  /*min-height: 200em;*/
  /*width: 100%;*/
}

.tabulator-header{
  height: 2em;
}


:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fcfcfc;
  color: #162446;
  border-radius: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

footer a{
  color: whitesmoke;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }