*{
  font-size: 1em;
}

body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  font-size: 2em;
}

h2{
  text-decoration: underline;
  font-size: 1.2em;
}

a {
  color: #00B7FF;
}

.contextContainer{
  background-color: antiquewhite;
  outline: crimson thin dashed;
  min-width: 25%;
  display: block;
  min-height: 10em;
  padding: 2em;
}

#statsContainer{
  max-width: 1000px;
  margin: 0 auto;
}

#live{
  margin-top: 20px;
  display: none;
}

#dateRangeSelector{
  display: block;
}

#dateRangeBtn{
  height: 2em;
  width: 4em;
}

