<!DOCTYPE html>
<html lang="en">
  <head>
  <% include bits/head.ejs %>
  </head>

  <body>
    <header>
      <div class="collapse bg-light fixed-top" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4>This Project</h4>
              <p class="text-muted fullJustify">
                The aim of this website and its physical counterpart is to autonomously monitor and control a small
                scale personal-sized greenhouse within which up to 4 plants can be effectively sustained and grown.
                For more info on how this project was put together and its aims see the 'How It Works' page and for raw
                data see the 'More Data' page.
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4>Pages</h4>
              <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="/howitworks">How It Works</a></li>
                <li><a href="/more">More Data</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar navbar-light bg-light box-shadow fixed-top">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong><i class="fas fa-leaf"></i></strong>
            <strong>Smart Greenhouse / <%= title %></strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <div class="container" id="contextWindow">
      <h2>
        Query A Selected Range Of Data
      </h2>
      <p>This loads the database records for the smart greenhouse sensors and weather data. Use the query selection
        tool below to refine the data shown in the graphs.</p>
      <form id="dateRangeSelector" class="container">
        <div class="form-group row">
          <label class="col-md-4" for="startTime startDate">Start:</label>
          <input class="col-md-4" type="time" id="startTime" name="startTimeRange" value="00:00">
          <input class="col-md-4" type="date" id="startDate" name="startDateRange">
          <!--value="2019-01-01"-->
        </div>
        <div class="form-group row">
          <label class="col-md-4" for="endTime endDate">End:</label>
          <input class="col-md-4" type="time" id="endTime" name="endTimeRange" value="00:00">
          <input class="col-md-4" type="date" id="endDate" name="endDateRange">
          <!--value="2050-01-02"-->
        </div>
        <button type="button" class="btn btn-outline-primary" id="dateRangeBtn">Go</button>
      </form>
      <div class="row justify-content-md-center">
        <button type="button" class="btn btn-outline-primary col-6 closeWindowBtn">CLOSE</button>
      </div>
    </div>

    <div class="container" id="settingsWindow">
      <h2 class="text-center">Settings</h2>
      <form>
        <div class="form-group">
          <h3>Profile</h3>
          <p>Choosing a profile below will determine the simulated environment within the greenhouse, if you live in a hot climate
          then choosing the 'Hot' profile will make sense as it waters the plants more frequently and runs the fans on high.</p>
          <label for="profileSelect">Automation Profile:</label>
          <div class="row" style="margin-left: 0; margin-right:0">
            <select class="form-control form-control-sm col-10" id="profileSelect">
              <option>Normal</option>
              <option>Hot</option>
              <option>Cold</option>
              <option>Normal + More Water</option>
              <option>Normal + More Fan</option>
              <option>Customized</option>
            </select>
            <i tabindex="0" data-toggle="tooltip" data-placement="right" title="Normal: Waters once a day, fans blow for 4h, lights on for 16h. Hot: Waters twice a day, fans blow for 10h, lights on for 10h. Cold: Waters once every 2 days, fans blow for 2h, lights on for 20h. Normal + More Water: Same as normal but waters twice a day. Normal + More Fan: Same as normal but fans blow for 10h. Customized: Configure individual values yourself." class="profileInfo far fa-question-circle col-2"></i>
          </div>
          <div id="profileCustomMenu">
            <div class="row"></div>
            <h4>Custom Profile Options:</h4>

            <!--LIGHTS-->
            <label for="lightCtrl">Lights:</label>
            <div class="row form-inline">
              <div class="col-2"></div>
              <select class="form-control form-control-sm col-4" id="lightCtrl">
                <option>LEFT</option>
                <option>RIGHT</option>
                <option>BOTH</option>
              </select>
              <select class="form-control form-control-sm col-4" id="lightTiming">
                <option>4h</option>
                <option>8h</option>
                <option>10h</option>
                <option>12h</option>
                <option>14h</option>
                <option>18h</option>
                <option>20h</option>
              </select>
              <div class="col-1"><i tabindex="0" data-toggle="tooltip" data-placement="right" title="Choose which of the two lights should be controlled and the time they should be on per day." class="profileInfo far fa-question-circle"></i></div>
            </div>

            <!--FANS-->
            <label for="lightCtrl">Fans:</label>
            <div class="row form-inline">
              <div class="col-2"></div>
              <select class="form-control form-control-sm col-4" id="fanCtrl">
                <option>LEFT</option>
                <option>RIGHT</option>
                <option>BOTH</option>
              </select>
              <select class="form-control form-control-sm col-4" id="fanTiming">
                <option>4h</option>
                <option>8h</option>
                <option>10h</option>
                <option>12h</option>
                <option>14h</option>
                <option>18h</option>
                <option>20h</option>
              </select>
              <div class="col-1"><i tabindex="0" data-toggle="tooltip" data-placement="right" title="Choose which of the two fans should be controlled and the time they should be on per day." class="profileInfo far fa-question-circle"></i></div>
            </div>

            <!--PUMP-->
            <label for="pumpAmount">Watering:</label>
            <div class="row form-inline">
              <div class="col-2"></div>
              <select class="form-control form-control-sm col-4" id="pumpAmount">
                <option>BASIC</option>
                <option>MODERATE</option>
                <option>EXCESSIVE</option>
              </select>
              <select class="form-control form-control-sm col-4" id="pumpTiming">
                <option>1 TIMES A DAY</option>
                <option>2 TIMES A DAY</option>
                <option>3 TIMES A DAY</option>
              </select>
              <div class="col-1"><i tabindex="0" data-toggle="tooltip" data-placement="right" title="Choose a watering amount and frequency per day." class="profileInfo far fa-question-circle"></i></div>
            </div>


          </div>
        </div>
        <div class="form-group">
          <h3>Control Thresholds</h3>
          <p>Here you can configure the upper and lower thresholds (limits) with which the automated system will adjust for,
          e.g. a limit of 30&deg;C would result in the fans blowing when the temperature is above that threshold.</p>

          <label for="threshTempLOWER">Temperature:</label>
          <div class="row form-inline">
            <div class="col-1"></div>
            <select class="form-control form-control-sm col-4" id="threshTempLOWER">
              <option>10&deg;C</option>
              <option>8&deg;C</option>
              <option>5&deg;C</option>
              <option>3&deg;C</option>
              <option>0&deg;C</option>
            </select>
            <div class="col-1 text-center">to</div>
            <select class="form-control form-control-sm col-4" id="threshTempUPPER">
              <option>20&deg;C</option>
              <option>23&deg;C</option>
              <option>25&deg;C</option>
              <option>28&deg;C</option>
              <option>30&deg;C</option>
            </select>
            <div class="col-1"><i tabindex="0" data-toggle="tooltip" data-placement="right" title="Lower bound to upper bound for desired temperature, if this is exceeded then the fans kick into action." class="profileInfo far fa-question-circle"></i></div>
          </div>

          <label for="threshLightLOWER">Light:</label>
          <div class="row form-inline">
            <div class="col-1"></div>
            <select class="form-control form-control-sm col-4" id="threshLightLOWER">
              <option>10%</option>
              <option>15%</option>
              <option>20%</option>
            </select>
            <div class="col-1 text-center">to</div>
            <select class="form-control form-control-sm col-4" id="threshLightUPPER">
              <option>35%</option>
              <option>40%</option>
              <option>45%</option>
              <option>50%</option>
            </select>
            <div class="col-1"><i tabindex="0" data-toggle="tooltip" data-placement="right" title="Lower bound to upper bound for desired lighting, under this the lights are turned on, over this they're turned off." class="profileInfo far fa-question-circle"></i></div>
          </div>

          <label for="threshSoilLOWER">Soil Moisture:</label>
          <div class="row form-inline">
            <div class="col-1"></div>
            <select class="form-control form-control-sm col-4" id="threshSoilLOWER">
              <option>50%</option>
              <option>55%</option>
              <option>60%</option>
            </select>
            <div class="col-1 text-center">to</div>
            <select class="form-control form-control-sm col-4" id="threshSoilUPPER">
              <option>60%</option>
              <option>65%</option>
              <option>70%</option>
              <option>75%</option>
            </select>
            <div class="col-1"><i tabindex="0" data-toggle="tooltip" data-placement="right" title="Lower bound to upper bound for soil moisture, if it's too dry then the pump activates, too wet and the pump is disabled." class="profileInfo far fa-question-circle"></i></div>
          </div>

          <label for="threshHumidity">Humidity:</label>
          <div class="row form-inline">
            <div class="col-1"></div>
            <select class="form-control form-control-sm col-4" id="threshHumidity">
              <option>85RH</option>
              <option>88RH</option>
              <option>90RH</option>
              <option>93RH</option>
              <option>95RH</option>
            </select>
            <div class="col-6"><i tabindex="0" data-toggle="tooltip" data-placement="right" title="Upper bound for humidity, if it is exceeded then the fans are activated." class="profileInfo far fa-question-circle"></i></div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="row">
          <button type="submit" class="btn btn-outline-primary col-6" id="applyProfileBtn">APPLY</button>
          <button type="button" class="btn btn-outline-primary col-6 closeWindowBtn">CLOSE</button>
        </div>
        <div class="row alert" id="settingsSuccess" role="alert"></div>
      </form>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><%= title %></h1>
        <p class="lead fullJustify">
          Intelligence, Affordability & Customization. These three goals have driven the project onwards and upwards
          to its current state as a fully autonomous personal greenhouse with this website functioning as a front-end
          monitoring service.
        </p>
        <p class="lead fullJustify">
          You can find the last three days of data below and more.
        </p>
      </div>
    </section>

    <div class="row separator"></div>

    <main role="main">
      <div id="loading" class="row justify-content-md-center bg-light box-shadow">
        Loading...
      </div>

      <div class="container" id="glanceMenu">
        <div class="row">
          <div class="col-8" id="notificationsContainer">
            <div class="alert alert-danger" role="alert">
              <h2>Alerts</h2>
              <p id="defcon">It's going to be cold over the next few days, recommend reduced fanning profile!</p>
            </div>
            <div class="alert alert-info" role="alert">
              <h2>Tip of The Day</h2>
              <p id="motd">Cold weather is just as bad to plants as it is to us warm blooded tetrapods.</p>
            </div>
          </div>
          <div class="col-4 alert alert-success" role="alert" id="chartOptionsContainer">
            <div class="row justify-content-md-center">
              <div class="col-4"><h3>Display:</h3></div>
              <div class="col-2"></div>
              <div class="btn-group btn-group-toggle col-4" data-toggle="buttons">
                <label class="btn active btn-outline-primary" id="gridDisplayBtn">
                  <input type="radio" name="grid display" id="" autocomplete="off" checked> <i class="fas fa-th-large"></i>
                </label>
                <label class="btn btn-outline-primary" id="listDisplayBtn">
                  <input type="radio" name="list display" id="" autocomplete="off" checked> <i class="fas fa-arrows-alt-h"></i>
                </label>
              </div>
            </div>
            <div class="row" id="revealMenu">
              <div id="revealContext" class="btn btn-primary col-12">Query</div>
              <div id="revealSettings" class="btn btn-primary col-12">Settings</div>
            </div>
          </div>
        </div>
      </div>

      <hr class="row separator">

      <!--NEW CHARTS HERE!!!-->
      <div class="fluid-container" id="pies">
        <div class="row">
          <div class="col-md-4">
            <canvas id="lightPie"></canvas>
          </div>
          <div class="col-md-4">
            <canvas id=""></canvas>
          </div>
          <div class="col-md-4">
            <canvas id=""></canvas>
          </div>
        </div>
      </div>

      <hr class="row separator">

      <div class="fluid-container" id="charts">
        <div class="statsContainer row">
          <div class="col-md-6 colResize">
            <canvas id="tempStats"></canvas>
          </div>
          <div class="col-md-6 colResize">
            <canvas id="humidStats"></canvas>
          </div>

        </div>
        <div class="statsContainer row">
          <div class="col-md-6 colResize">
            <canvas id="soilStats"></canvas>
          </div>
          <div class="col-md-6 colResize">
            <canvas id="lightStats"></canvas>
          </div>
        </div>
      </div>

      <!--doesn't work yet-->
      <div id="live"></div>

      <hr class="row separator">

      <div id="gallery">
        <!--Rolling images here from db-->
        <img src="images/01.jpg" alt="test">
      </div>

      <div class="container">
        <button type="button" class="btn btn-primary" id="liveRevealBtn">LIVE FEED</button>

        <div class="row" id="liveFeed">

        </div>
      </div>
    </main>

  <% include bits/foot.ejs %>
  <script src="/javascripts/dbToWeb.js"></script>
  </body>
</html>
