<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/pythonToWeb.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is the <%= title %></p>
    <p>The raw sensor data should be here.</p>
    <div id="stats"></div>
    <div id="weather"><script type='text/javascript' src='https://darksky.net/widget/default/50.8037,-1.0756/uk12/en.js?width=100%&height=350&title=Portsmouth, UK&textColor=333333&bgColor=FFFFFF&transparency=false&skyColor=undefined&fontFamily=Default&customFont=&units=uk&htColor=c54747&ltColor=4a8381&displaySum=yes&displayHeader=yes'></script></div>
  </body>
</html>
