<!DOCTYPE html>
<html lang="en">
  <head>
  <% include bits/head.ejs %>
  </head>

  <body>
    <header>
      <div class="collapse bg-light" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4>This Project</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor eros, efficitur at mi vel, consequat mollis ligula. Aenean blandit magna sed magna finibus hendrerit. Sed sollicitudin semper tincidunt. Donec consectetur mi scelerisque, pulvinar urna sit amet, eleifend lorem. Morbi gravida ex ipsum, a laoreet tortor scelerisque et.
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4>Pages</h4>
              <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="/howitworks">How It Works</a></li>
                <li><a href="/more">More Data</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar navbar-light bg-light box-shadow fixed-top">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong><i class="fas fa-leaf"></i></strong>
            <strong>Smart Greenhouse / <%= title %></strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading"><%= title %></h1>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor eros, efficitur at mi vel, consequat mollis ligula. Aenean blandit magna sed magna finibus hendrerit. Sed sollicitudin semper tincidunt. Donec consectetur mi scelerisque, pulvinar urna sit amet, eleifend lorem. Morbi gravida ex ipsum, a laoreet tortor scelerisque et.
          </p>
        </div>
      </section>

      <div class="container">
        <div class="row justify-content-md-center bg-light box-shadow">
          <div id="contextContainer" class="col-6">
            <h2>
              Context Selector
            </h2>
            <p>Database records for the smart greenhouse sensors and weather data. Use the query selection
              tool below to refine the data shown. Live statistics can be found at the bottom of this
              page.</p>
            <form id="dateRangeSelector" class="container">
              <h2>Query Date Range</h2>
              <div class="form-group row">
                <label class="col-md-4" for="startTime startDate">Start:</label>
                <input class="col-md-4" type="time" id="startTime" name="startTimeRange" value="00:00">
                <input class="col-md-4" type="date" id="startDate" name="startDateRange">
                <!--value="2019-01-01"-->
              </div>
              <div class="form-group row">
                <label class="col-md-4" for="endTime endDate">End:</label>
                <input class="col-md-4" type="time" id="endTime" name="endTimeRange" value="00:00">
                <input class="col-md-4" type="date" id="endDate" name="endDateRange">
                <!--value="2050-01-02"-->
              </div>
              <button type="button" class="btn btn-outline-primary" id="dateRangeBtn">Go</button>
            </form>
          </div>
          <div id="manualAutoVals" class="col-6">
            <h2>Manual Settings</h2>
            <form>
              <div class="form-group">
                <label for="wateringFreqIn">Watering Frequency Per Day</label>
                <div class="row">
                  <select class="form-control form-control-sm col-6" id="wateringFreqIn">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                  <button type="button" class="btn btn-outline-primary col-4">Apply</button>
                </div>
              </div>
              <div class="form-group">
                <label for="fanFreqIn">Dehumidifying Frequency Per Day</label>
                <div class="row">
                  <select class="form-control form-control-sm col-6" id="fanFreqIn">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                  <button type="button" class="btn btn-outline-primary col-4">Apply</button>
                </div>
              </div>
              <div class="form-group">
                <label for="lightFreqIn">Light Frequency Per Day</label>
                <div class="row">
                  <select class="form-control form-control-sm col-6" id="lightFreqIn">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                  <button type="button" class="btn btn-outline-primary col-4">Apply</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div id="loading" class="row justify-content-md-center bg-light box-shadow">
        Loading...
      </div>

      <div class="fluid-container">
        <div class="statsContainer row">
          <div class="col-md-6">
            <canvas id="tempStats"></canvas>
          </div>
          <div class="col-md-6">
            <canvas id="humidStats"></canvas>
          </div>

        </div>
        <div class="statsContainer row">
          <div class="col-md-6">
            <canvas id="soilStats"></canvas>
          </div>
          <div class="col-md-6">
            <canvas id="lightStats"></canvas>
          </div>
        </div>
      </div>

      <div id="live"></div>
    </main>

  <% include bits/foot.ejs %>
  </body>
</html>
