<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="/javascripts/dbToWeb.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is the <%= title %></p>
    <p>Sensor data should be here.</p>
    <div id="statsContainer">
      <canvas id="tempStats"></canvas>
      <canvas id="humidStats"></canvas>
    </div>
    <div id="statsContainer">
      <canvas id="soilStats"></canvas>
      <canvas id="lightStats"></canvas>
    </div>

  </body>
</html>
